{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% for announcement in announcements %}
                <h3 class="mt-4">{{ announcement['title'] }}</h3>

                <!-- Date/Time -->
                <p>Posted on {{ announcement['fecha'] }}</p>
                
                <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

                <br style="clear:both">
                <br>

                <p>{{ announcement['post'] }}</p>

                <hr>
            {% endfor %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Meeting Time</h5>
                <div class="card-body">
                    Saturdays at 2PM in ASB429
                </div>
            </div>
            
            <div class="card my-4">
                <h5 class="card-header">Club E-Board</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li>President: Neel Verma</li>
                        <li>Vice-President: Abish Jha</li>
                        <li>Treasurer: Tomas Carino-Bazan</li>
                        <li>Secretary: Sagar Thapa</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}